<div class="media">
  <a href="#"
    ><img class="mr-3" src="img/s1.png" alt="Generic placeholder image"
  /></a>
  <div class="media-body">
    <div class="form-members-body">
      <textarea
        rows="1"
        placeholder="Add a public comment..."
        class="form-control"
      ></textarea>
    </div>
    <div class="form-members-footer text-right mt-2">
      <b class="float-left">12,725 Comments </b>
      <button class="btn btn-outline-danger btn-sm" type="button">
        CANCEL
      </button>
      <button class="btn btn-danger btn-sm" type="button">COMMENT</button>
    </div>
  </div>
</div>
