<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Vidoe 2020 | Made with <i class="fas fa-heart fa-fw text-danger"></i> by <a target="_blank" href="https://www.instagram.com/iamgurdeeposahan/">Askbootstrap</a></span>
        </div>
    </div>
</footer>