@page "/artist/add"
@inherits ArtistAddBase

<TextEdit @bind-Text="@ArtistDto.Name" Placeholder="Name" />

<TextEdit @bind-Text="@ArtistDto.CountryCode" Placeholder="CountryCode" />

<Button Color="Color.Primary" Clicked="@OnSubmit">Submit</Button>

@if (Success)
{
        <p>Successfully saved!</p>
}