<div class="box mb-3 single-video-comment-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="retro-comments-tab"
        data-toggle="tab"
        role="tab"
        aria-controls="retro"
        aria-selected="false"
        >vidoe Comments</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <app-comment-create></app-comment-create>
    <div
      class="tab-pane fade show active"
      id="retro-comments"
      role="tabpanel"
      aria-labelledby="retro-comments-tab"
    >
      <div class="reviews-members pt-0">
        <div class="reviews-members">
          <div class="media">
            <a href="#"
              ><img
                class="mr-3"
                src="img/s2.png"
                alt="Generic placeholder image"
            /></a>
            <div class="media-body">
              <div class="reviews-members-header">
                <h6 class="mb-1">
                  <a class="text-black" href="#">Gurdeep Osahan </a>
                  <small class="text-gray">2 months ago</small>
                </h6>
              </div>
              <div class="reviews-members-body">
                <p>
                  reacthe last order. Even though they had Chefs in their open
                  kitchen they weren’t flexible to dish out few more items.
                  Anyway the food was super specially their stone dessert.
                </p>
              </div>
              <div class="reviews-members-footer">
                <a class="total-like" href="#"
                  ><i class="fas fa-thumbs-up"></i> 123</a
                >
                <a class="total-like" href="#"
                  ><i class="fas fa-thumbs-down"></i> 02</a
                >
                <span dir="rtl" class="total-like-user-main ml-2">
                  <a
                    href="#"
                    title="Gurdeep Osahan"
                    data-placement="top"
                    data-toggle="tooltip"
                    ><img
                      class="total-like-user"
                      src="img/s1.png"
                      alt="Generic placeholder image"
                  /></a>
                  <a
                    href="#"
                    title="Gurdeep Osahan"
                    data-placement="top"
                    data-toggle="tooltip"
                    ><img
                      class="total-like-user"
                      src="img/s2.png"
                      alt="Generic placeholder image"
                  /></a>
                  <a
                    href="#"
                    title="Gurdeep Osahan"
                    data-placement="top"
                    data-toggle="tooltip"
                    ><img
                      class="total-like-user"
                      src="img/s3.png"
                      alt="Generic placeholder image"
                  /></a>
                  <a
                    href="#"
                    title="Gurdeep Osahan"
                    data-placement="top"
                    data-toggle="tooltip"
                    ><img
                      class="total-like-user"
                      src="img/s4.png"
                      alt="Generic placeholder image"
                  /></a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-members">
          <div class="media">
            <a href="#"
              ><img
                alt="Generic placeholder image"
                src="img/s3.png"
                class="mr-3"
            /></a>
            <div class="media-body">
              <div class="reviews-members-header">
                <h6 class="mb-1">
                  <a href="#" class="text-black">Gurdeep Osahan </a>
                  <small class="text-gray">2 months ago</small>
                </h6>
              </div>
              <div class="reviews-members-body">
                <p>
                  Was here impromptu in their first week, reacthe last order.
                  Even though they had Chefs in their open kitchen they weren’t
                  flexible to dish out few more items.
                </p>
              </div>
              <div class="reviews-members-footer">
                <a href="#" class="total-like"
                  ><i class="fas fa-thumbs-up"></i> 123</a
                >
                <a href="#" class="total-like"
                  ><i class="fas fa-thumbs-down"></i> 02</a
                >
                <span class="total-like-user-main ml-2" dir="rtl">
                  <a
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Gurdeep Osahan"
                    href="#"
                    ><img
                      alt="Generic placeholder image"
                      src="img/s5.png"
                      class="total-like-user"
                  /></a>
                  <a
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Gurdeep Osahan"
                    href="#"
                    ><img
                      alt="Generic placeholder image"
                      src="img/s6.png"
                      class="total-like-user"
                  /></a>
                  <a
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Gurdeep Osahan"
                    href="#"
                    ><img
                      alt="Generic placeholder image"
                      src="img/s7.png"
                      class="total-like-user"
                  /></a>
                  <a
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Gurdeep Osahan"
                    href="#"
                    ><img
                      alt="Generic placeholder image"
                      src="img/s8.png"
                      class="total-like-user"
                  /></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
